##Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd
pj = pd.Series([4,8,15,16,23,42])
print(pj)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [3]:
##Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [4]:
my_list = list(range(1,11))
list1 = pd.Series(my_list)
print(list1)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

Then, print the DataFrame.

In [9]:
df ={'name' : ['Alice','Bob','Claire'],
     'age' : [25, 30, 27],
     'gender' : ['female','male','female']
     }
df1 = pd.DataFrame(df)
print(df1)

     name  age  gender
0   Alice   25  female
1     Bob   30    male
2  Claire   27  female

##Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In pandas, a DataFrame is a two-dimensional, size-mutable, and heterogeneous data structure that consists of rows and columns. It is similar to a spreadsheet or a table in a relational database. Each column in a DataFrame is a pandas Series.

A pandas Series, on the other hand, is a one-dimensional labeled array capable of holding data of any type (integer, float, string, etc.). It is essentially a single column of data with associated labels, known as the index.

In [10]:
import pandas as pd

# Example DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)

# Example Series
name_series = df['Name']

print("DataFrame:")
print(df)
print("\nSeries:")
print(name_series)

DataFrame:
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

Series:
0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object

##Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?


head() and tail(): These functions are used to view the first or last few rows of a DataFrame, respectively. They are helpful for quickly inspecting the structure and contents of a DataFrame.

info(): This function provides a concise summary of a DataFrame, including the data types of each column, the number of non-null values, and memory usage. It's useful for understanding the overall structure of your data.

describe(): This function generates descriptive statistics for numerical columns in a DataFrame, such as count, mean, standard deviation, minimum, and maximum values. It provides insights into the distribution and central tendency of the data.

loc[] and iloc[]: These functions are used for accessing rows and columns by label (loc[]) or integer index (iloc[]). They allow you to select specific subsets of data from a DataFrame based on row and column labels or positions.

drop(): This function is used to remove rows or columns from a DataFrame based on labels or positions. It allows you to clean or filter your data by eliminating irrelevant or redundant information.

fillna(): This function is used to fill missing values (NaNs) in a DataFrame with specified values or methods, such as a constant value, the mean, or the median. It helps to handle missing data effectively.

groupby() and agg(): These functions are used for grouping and aggregating data in a DataFrame. groupby() groups the data based on one or more columns, while agg() computes aggregate functions (e.g., sum, mean, count) on the grouped data.

merge() and concat(): These functions are used for combining multiple DataFrames into a single DataFrame. merge() performs database-style join operations based on common columns, while concat() concatenates DataFrames along a specified axis.

pivot_table(): This function creates a spreadsheet-style pivot table from a DataFrame, allowing you to summarize and analyze data by grouping it into rows and columns.

apply(): This function applies a function along an axis of a DataFrame. It allows you to perform custom transformations on your data, such as applying a user-defined function to each row or column.

##Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Series: Mutable. You can modify the values within a Series after it has been created.

DataFrame: Mutable. You can add or remove columns, modify values within cells, or append rows to a DataFrame.

Panel: Immutable. The Panel data structure has been deprecated in pandas and is not recommended for use. However, if we consider it, Panels are not mutable. Once created, you cannot modify the data within a Panel directly. Instead, you would typically create a new Panel with the desired modifications.

##Q7. Create a DataFrame using multiple Series. Explain with an example.

In [13]:
import pandas as pd

# Creating multiple Series
names = pd.Series(['Alice', 'Bob', 'Charlie'])
ages = pd.Series([25, 30, 35])
cities = pd.Series(['New York', 'Los Angeles', 'Chicago'])

# Creating a DataFrame using the Series
data = {
    'Name': names,
    'Age': ages,
    'City': cities
}

df = pd.DataFrame(data)

# Displaying the DataFrame
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago