#Q1. Create a python program to sort the given list of tuples based on integer value using a lambda function.
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [1]:
l = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [2]:
data = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

sorted_data = sorted(data, key=lambda x: x[1])

print(sorted_data)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

##Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
m = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

sqr = list(map(lambda x: x**2, m))
print(sqr)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

##Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and lambda functions Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
p = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

tup_str = tuple(map(lambda x: str(x),p))
print(tup_str)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

##Q4. Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

In [18]:
from functools import reduce

# Define the list containing numbers from 1 to 25
numbers = list(range(1, 26))

# Use reduce function to compute the product of the numbers
product = reduce(lambda x, y: x * y, numbers)

# Print the product
print("Product of numbers from 1 to 25:", product)

Product of numbers from 1 to 25: 15511210043330985984000000

###Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [19]:
# Given list of numbers
numbers = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

# Use filter function to filter numbers divisible by 2 and 3
filtered_numbers = filter(lambda x: x % 2 == 0 and x % 3 == 0, numbers)

# Convert the filtered result into a list and print it
print(list(filtered_numbers))

[6, 60, 90, 120]

##Q6. Write a python program to find palindromes in the given list of strings using lambda and filter function.
['python', 'php', 'aba', 'radar', 'level']

In [20]:
# Given list of strings
strings = ['python', 'php', 'aba', 'radar', 'level']

# Use filter function with lambda function to filter palindromes
palindromes = filter(lambda x: x == x[::-1], strings)

# Convert the filtered result into a list and print it
print(list(palindromes))

['php', 'aba', 'radar', 'level']